*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: revert;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  body{
    overflow-x: hidden;
    background-color: rgb(231, 229, 229);
   
  }
  #navbar1 div a:hover,#navbar2 div a:hover{
    border:1px solid white;
  }
  .section_hallown,.section_shoppet{
    width:310px; height: 290px;
  }
  #navbar1{  
    background-color:rgb(19, 24, 36);
    width:100%; 
    vertical-align: top;
    padding: 5px 10px;
    border: 1px solid rgb(19, 24, 36);
    /* overflow: hidden; */
  }
  #navbar1 div{
    display: inline-block;
    vertical-align: top;
  }
  #navbar1 img ,#navbar1 a {
    display: inline-block;
    
  }
  #navbar1 .imgusa a{
    margin-top: 0px;
  }
  #navbar1 div a{
    border: 1px solid rgb(19, 24, 36);
    border-radius: 4px;
    padding: 0px 10px;
    text-decoration: none;
  }
  .imgusa,.amazonimg,.imges_website{
    margin-top: 10px;
  }
  .link_Deliverto{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
  }
  .link_Deliverto p{
    vertical-align: top;
  }
  .p1_Deliverto{
    color:rgb(198, 193, 193);
    width: 90px;
    margin-bottom: 15px;
  }
  .p2_Deliverto{
    margin-top: -10px;
  }
  .icon{
    display: block;
  }
  .search{
    margin-top: 15px;
  }
  .search select{
    color:rgb(78, 73, 73); 
    background-color:rgb(205, 206, 208);
    width: 50px; 
    height: 40px;
    border-radius: 5px 0px 0px 5px;
  }
  .search input{
    height:40px;
    width:1060px;
    margin-left:-4px;
  }
  .search button{
    background-color:rgb(249, 130, 56);
    height:40px;width:40px ; 
    border-radius: 0px 5px 5px 0px;
     border: 1px solid rgb(249, 130, 56);
     margin-left: -10px;
     padding-top: 2px;
  }
  .search:hover * {
    border: 2px solid rgb(249, 130, 56);
  }
  .img:hover{
     cursor: pointer;
     opacity: 0.90;
  }
  .imgusa a{
    height: 50px;
     margin-top: -10px;
  }
  .imgusa img{
    padding-top: 20px;
  }
  .imgusa div{
    padding-top: 30
  }
  .imgusa i,.Hello_signin a,.return a,.cart a,.All_navbar2 a{
    color: white;
  }
  .Hello_signin, .return{
    margin-top: 20px; 
  }
  .cart{
    font-size: large; margin-top:8px;
  }
  .cart a{
    height: 50px;
  }
  .cart i{
    margin-top:20px;
  }
  .cart p,#navbar2 div{
    display:inline-block
  }
  #navbar2 div a{
    border:1px solid rgb(31, 37, 51)
  }
  #navbar2 div ,#navbar2 a,#navbar2 p{
    display: inline-block;
  }
  #navbar2 {
    background-color: rgb(31, 37, 51);
     height: 42px; 
    display: inline-block;
     width: 100%;
  }
  #navbar2 .All_navbar2{
    margin-left: 15px;
  }
  .All_navbar2 div{
    background-color: rgb(31, 37, 51); 
    margin-top:12px;
    border: 1px solid rgb(31, 37, 51);
  }
  .All_navbar2_p1 {
    font-weight: bold;
  }
  .container{
    width: 80%;
    margin: 0px auto;
  }
  .imges_body{
    margin-top: -19%;
  }
  .parent{
    padding: 20px;
    
  }
  .child{
    padding:19px;
    width: 21.2%;
    margin-right: 1%;
    display: inline-block;
    background-color:white;
    overflow: hidden;
    height: 370px;
    position: relative;
  }   
  .child h2{
    margin-bottom: 20px;
    font-size: larger;
  }
  .imges_body .container .parent .child div{
    width: 49%;
    display: inline-block;
    margin-top: 5px;
  }
  .child i{
    color: orange;
   }
  .child a{
    color: #007185;
    text-decoration: none;
  }
  .seemore {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .securily{
    background-color:transparent; text-align: center;
  }
  .securily #buttonsecurily{
    background-color:white;
     width:110%;
     height: 40%;
     margin-top: -17px; 
   }
   #buttonsecurily h2{
    margin-top: 15px;
    font-size: larger;
    vertical-align: middle;
   }
   #buttonsecurily button{
    width:85%;
    background-color:#F7CA00 ;
    border: none;
     border-radius: 6px; 
     height: 24%;
     
   }

  #buttonsecurily button a{
    color: black;
    text-decoration: none;
  }
   #imgsecurily{
    margin-top: 40px; 
    display: block;
     margin-left: 5%;
     margin-top: 15px;
   }
   #toy ,#Shopmore_computer{
    margin-top: 40px;
     display: block;
  }
  .Scrolling_imges{
    margin-top: 10px; width: 96.5%; height: 29%;
  }
  .linkscroll_shopmore h2,.linkscroll_shopmore p{
    display:inline-block
   }
   #freqimgs, #homescroll,#internationalscroll,
   #popularscroll,#stuffimgs,#popuPCimgs,#giftsimgs{
    width: 1430px; 
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
  }
  #kindle,#new_arrival,#shop_activ,#home_kitchen,
  #decort,#statement,#fashion,#hallown,#shoppet,#gaming,#foryou,#create{
    margin-top: 20px;
     display: block;
  }
  .customer_viewed{
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
    
   }
  
   .customer_viewed .child{
    width: 7.5%;
    margin-right: 2px;
    text-align: left;
   
   } 
   .customer_viewed h3{
    text-align:left; padding-left: 20px;
   }
   .cust_view_contanier{
    padding-top: 20px; margin-top:30px;
    border: 1px solid rgb(212, 208, 208); border-radius: 5px; 
    margin-bottom: 15px;
  }
  .cust_view_pargraph{
    color: #007185;
  }
  .cust_view_signin{
    text-align:center ; padding-top: 30px; padding-bottom: 20px;
  }
  .Signin_button{
    width:15%;background-color:rgb(243, 175, 29) ;
    border: none; border-radius: 6px; 
    height:3%; font-weight: bold;
  }

  .backto_up{
    text-align: center;
    overflow: hidden;
    padding: 20px 0px;
    background-color: #37475A;
  }
  .backto_up a{
    background-color: #37475A;
    color:white;
    padding: 10px 20px;
    
  }
  .footer1 .child a{
    display: block;
    margin-bottom: 10px;
    color:rgb(204, 197, 197);
    
   }
   .footer1 .child h3{
    margin-bottom: 20px;
    margin-left: 6px;
   }
   .footer1{
    background-color:#232F3E;
   }
   .about_amazong{
    width: 60%; 
    margin: 0px auto;
   }
   .about_amazong .child{
    width:20%;
     background-color: #232F3E;
     color: #fff;
   }
   .footer2{
    width: 45%;
    margin: 0px auto;
    overflow: hidden;
    padding: 40px 0px;
    /* vertical-align: middle; */
  }
   .footer2 > div{
   float: left; 
   }
   .footer2 .logo img{
    margin-right: 60px;
   }
   .footer2 div button{
    margin-top: 1px;
    background-color: transparent;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid  rgb(167, 178, 228);
    margin-right: 10px;
    height: 45;
    width: 180px;
    border-radius: 5px;
   }
   .footer3 .child{
    width:5%;
    background-color: #fff;
   }

   .footer3{
    background-color: #131A22;
    padding: 80px 0px;
   }
   .footer3 .container{
    width: 60%;
   }
   .footer3 .container > div{
    display: inline-block;
    width: 12%;
    padding: 30px 10px;
    color: #ccc;
    font-size: 10px;
    vertical-align: top;
   }
   .footer3 .container > div >div{
    margin: 30px 0px;
    
   }
   .footer3 .container a{
    display: block;
    color:rgb(129, 120, 120);
   }
   .footer3 h3{
    margin-left: 9px;
   }
   .footer3 .container {
     margin-top: -80px;
   }
   .final_word_inwebset{
    color:white; text-align:center;
  }
  .footer_usaimg{
    vertical-align: middle;
  }
  .fa-up-down{
    color:rgb(117, 109, 109);
  }

  a{
    border-radius: 5px;
    padding: 0px 10px;
    
  }
 a:hover{
  text-decoration: underline;
  cursor: pointer;
 }
 .imges_body a:hover,.customer_viewed p:hover{
  color: rgb(236, 45, 45);
 }
